name: CI/CD MLflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CSV_URL: "MLProject/diabetes_prediction_dataset/data_clean.csv"
  TARGET_VAR: "Outcome"
  MLFLOW_TRACKING_URI: "file:./mlruns"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Python
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow cloudpickle numpy pandas psutil pyarrow scikit-learn scipy

      # Run MLflow Project (training)
      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local
          cd ..

      # Get latest MLflow run_id (SAFE, no hardcode experiment)
      - name: Get latest MLflow run_id
        run: |
          cd MLProject

          echo "Searching latest MLflow run..."
          RUN_ID=$(find mlruns -mindepth 2 -maxdepth 2 -type d \
            | grep -E '[a-f0-9]{32}$' \
            | sort -r \
            | head -n 1 \
            | xargs basename)

          if [ -z "$RUN_ID" ]; then
            echo "❌ No MLflow run found"
            find mlruns -type d
            exit 1
          fi

          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "✅ Latest run_id: $RUN_ID"
          cd ..

      # Build Docker image from MLflow model
      - name: Build Docker Model
        run: |
          cd MLProject
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "cc"
          cd ..

      # Login to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # Tag Docker image
      - name: Tag Docker Image
        run: |
          docker tag cc ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest

      # Push Docker image
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest
